<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key> </key><string> </string>
    <key>𝔞</key><string>a</string>
    <key>𝖆</key><string>a</string>
    <key>𝓪</key><string>a</string>
    <key>𝒶</key><string>a</string>
    <key>𝕒</key><string>a</string>
    <key>ａ</key><string>a</string>
    <key>ꪖ</key><string>a</string>
    <key>ᴀ</key><string>a</string>
    <key>ɐ</key><string>a</string>
    <key>🄰</key><string>a</string>
    <key>ɒ</key><string>a</string>
    <key>a̷̢͔̪͓͈̘͚̔̔͌͗̉̀͛́͘͜͠</key><string>a</string>
    <key>🅰</key><string>a</string>
    <key>ₐ</key><string>a</string>
    <key>ᵃ</key><string>a</string>
    <key>ⓐ</key><string>a</string>
    <key>ค</key><string>a</string>
    <key>α</key><string>a</string>
    <key>ǟ</key><string>a</string>
    <key>Ꮧ</key><string>a</string>
    <key>ą</key><string>a</string>
    <key>ค</key><string>a</string>
    <key>𝐚</key><string>a</string>
    <key>𝗮</key><string>a</string>
    <key>𝘢</key><string>a</string>
    <key>𝙖</key><string>a</string>
    <key>𝚊</key><string>a</string>
    <key>Λ</key><string>a</string>
    <key>α</key><string>a</string>
    <key>å</key><string>a</string>
    <key>₳</key><string>a</string>
    <key>卂</key><string>a</string>
    <key>ﾑ</key><string>a</string>
    <key>ą</key><string>a</string>
    <key>ᗩ</key><string>a</string>
    <key>ᗩ</key><string>a</string>
    <key>a̶</key><string>a</string>
    <key>a̴</key><string>a</string>
    <key>a̷</key><string>a</string>
    <key>a̲</key><string>a</string>
    <key>a̳</key><string>a</string>
    <key>a̾</key><string>a</string>
    <key>a</key><string>a</string>
    <key>a͎</key><string>a</string>
    <key>a͓̽</key><string>a</string>
    <key>𝔟</key><string>b</string>
    <key>𝖇</key><string>b</string>
    <key>𝓫</key><string>b</string>
    <key>𝒷</key><string>b</string>
    <key>𝕓</key><string>b</string>
    <key>ｂ</key><string>b</string>
    <key>᥇</key><string>b</string>
    <key>ʙ</key><string>b</string>
    <key>b⃞</key><string>b</string>
    <key>🄱</key><string>b</string>
    <key>d</key><string>b</string>
    <key>b̵̢̙̙̜̞͈͌́̌̌̕͝͝</key><string>b</string>
    <key>🅱</key><string>b</string>
    <key>b</key><string>b</string>
    <key>ᵇ</key><string>b</string>
    <key>ⓑ</key><string>b</string>
    <key>๒</key><string>b</string>
    <key>Ⴆ</key><string>b</string>
    <key>ɮ</key><string>b</string>
    <key>Ᏸ</key><string>b</string>
    <key>ც</key><string>b</string>
    <key>๖</key><string>b</string>
    <key>𝐛</key><string>b</string>
    <key>𝗯</key><string>b</string>
    <key>𝘣</key><string>b</string>
    <key>𝙗</key><string>b</string>
    <key>𝚋</key><string>b</string>
    <key>B</key><string>b</string>
    <key>в</key><string>b</string>
    <key>ß</key><string>b</string>
    <key>฿</key><string>b</string>
    <key>乃</key><string>b</string>
    <key>乃</key><string>b</string>
    <key>[̲̅b]</key><string>b</string>
    <key>b҉</key><string>b</string>
    <key>ҍ</key><string>b</string>
    <key>ᗷ</key><string>b</string>
    <key>ᗷ</key><string>b</string>
    <key>b̶</key><string>b</string>
    <key>b̴</key><string>b</string>
    <key>b̷</key><string>b</string>
    <key>b̲</key><string>b</string>
    <key>b̳</key><string>b</string>
    <key>b̾</key><string>b</string>
    <key>b</key><string>b</string>
    <key>b͎</key><string>b</string>
    <key>b͓̽</key><string>b</string>
    <key>𝔠</key><string>c</string>
    <key>𝖈</key><string>c</string>
    <key>𝓬</key><string>c</string>
    <key>𝒸</key><string>c</string>
    <key>𝕔</key><string>c</string>
    <key>ｃ</key><string>c</string>
    <key>ᥴ</key><string>c</string>
    <key>ᴄ</key><string>c</string>
    <key>ɔ</key><string>c</string>
    <key>c⃣</key><string>c</string>
    <key>c⃞</key><string>c</string>
    <key>🄲</key><string>c</string>
    <key>ɔ</key><string>c</string>
    <key>c̸̮̰̰̠̈́̓͑̄́͝͝</key><string>c</string>
    <key>🅲</key><string>c</string>
    <key>c</key><string>c</string>
    <key>ᶜ</key><string>c</string>
    <key>ⓒ</key><string>c</string>
    <key>ς</key><string>c</string>
    <key>ƈ</key><string>c</string>
    <key>ƈ</key><string>c</string>
    <key>ፈ</key><string>c</string>
    <key>ƈ</key><string>c</string>
    <key>¢</key><string>c</string>
    <key>𝐜</key><string>c</string>
    <key>𝗰</key><string>c</string>
    <key>𝘤</key><string>c</string>
    <key>𝙘</key><string>c</string>
    <key>𝚌</key><string>c</string>
    <key>ᄃ</key><string>c</string>
    <key>¢</key><string>c</string>
    <key>¢</key><string>c</string>
    <key>₵</key><string>c</string>
    <key>匚</key><string>c</string>
    <key>ᄃ</key><string>c</string>
    <key>【c】</key><string>c</string>
    <key>『c』</key><string>c</string>
    <key>≋c≋</key><string>c</string>
    <key>░c░</key><string>c</string>
    <key>[̲̅c]</key><string>c</string>
    <key>c҉</key><string>c</string>
    <key>ç</key><string>c</string>
    <key>ᑕ</key><string>c</string>
    <key>ᑢ</key><string>c</string>
    <key>c̶</key><string>c</string>
    <key>c̴</key><string>c</string>
    <key>c̷</key><string>c</string>
    <key>c̲</key><string>c</string>
    <key>c̳</key><string>c</string>
    <key>c̾</key><string>c</string>
    <key>c</key><string>c</string>
    <key>c͎</key><string>c</string>
    <key>c͓̽</key><string>c</string>
    <key>𝔡</key><string>d</string>
    <key>𝖉</key><string>d</string>
    <key>𝓭</key><string>d</string>
    <key>𝒹</key><string>d</string>
    <key>𝕕</key><string>d</string>
    <key>ｄ</key><string>d</string>
    <key>ᦔ</key><string>d</string>
    <key>ᴅ</key><string>d</string>
    <key>p</key><string>d</string>
    <key>d⃣</key><string>d</string>
    <key>d⃞</key><string>d</string>
    <key>🄳</key><string>d</string>
    <key>d̸̘͐͗͒</key><string>d</string>
    <key>🅳</key><string>d</string>
    <key>d</key><string>d</string>
    <key>ᵈ</key><string>d</string>
    <key>ⓓ</key><string>d</string>
    <key>๔</key><string>d</string>
    <key>ԃ</key><string>d</string>
    <key>ɖ</key><string>d</string>
    <key>Ꮄ</key><string>d</string>
    <key>ɖ</key><string>d</string>
    <key>໓</key><string>d</string>
    <key>𝐝</key><string>d</string>
    <key>𝗱</key><string>d</string>
    <key>𝘥</key><string>d</string>
    <key>𝙙</key><string>d</string>
    <key>𝚍</key><string>d</string>
    <key>D</key><string>d</string>
    <key>∂</key><string>d</string>
    <key>Ð</key><string>d</string>
    <key>Đ</key><string>d</string>
    <key>ᗪ</key><string>d</string>
    <key>り</key><string>d</string>
    <key>【d】</key><string>d</string>
    <key>『d』</key><string>d</string>
    <key>≋d≋</key><string>d</string>
    <key>░d░</key><string>d</string>
    <key>[̲̅d]</key><string>d</string>
    <key>d҉</key><string>d</string>
    <key>ժ</key><string>d</string>
    <key>ᗪ</key><string>d</string>
    <key>ᕲ</key><string>d</string>
    <key>d̶</key><string>d</string>
    <key>d̴</key><string>d</string>
    <key>d̷</key><string>d</string>
    <key>d̲</key><string>d</string>
    <key>d̳</key><string>d</string>
    <key>d̾</key><string>d</string>
    <key>d</key><string>d</string>
    <key>d͎</key><string>d</string>
    <key>d͓̽</key><string>d</string>
    <key>𝔢</key><string>e</string>
    <key>ᗴ</key><string>e</string>
    <key>𝖊</key><string>e</string>
    <key>𝓮</key><string>e</string>
    <key>𝑒</key><string>e</string>
    <key>𝕖</key><string>e</string>
    <key>ｅ</key><string>e</string>
    <key>ꫀ</key><string>e</string>
    <key>ᴇ</key><string>e</string>
    <key>ǝ</key><string>e</string>
    <key>e⃣</key><string>e</string>
    <key>e⃞</key><string>e</string>
    <key>🄴</key><string>e</string>
    <key>ɘ</key><string>e</string>
    <key>ě̶̡̨͕̫̮̈́̃͒</key><string>e</string>
    <key>🅴</key><string>e</string>
    <key>ₑ</key><string>e</string>
    <key>ᵉ</key><string>e</string>
    <key>ⓔ</key><string>e</string>
    <key>є</key><string>e</string>
    <key>ҽ</key><string>e</string>
    <key>ɛ</key><string>e</string>
    <key>Ꮛ</key><string>e</string>
    <key>ɛ</key><string>e</string>
    <key>ē</key><string>e</string>
    <key>𝐞</key><string>e</string>
    <key>𝗲</key><string>e</string>
    <key>𝘦</key><string>e</string>
    <key>𝙚</key><string>e</string>
    <key>𝚎</key><string>e</string>
    <key>Σ</key><string>e</string>
    <key>є</key><string>e</string>
    <key>ê</key><string>e</string>
    <key>Ɇ</key><string>e</string>
    <key>乇</key><string>e</string>
    <key>乇</key><string>e</string>
    <key>【e】</key><string>e</string>
    <key>『e』</key><string>e</string>
    <key>≋e≋</key><string>e</string>
    <key>░e░</key><string>e</string>
    <key>[̲̅e]</key><string>e</string>
    <key>e҉</key><string>e</string>
    <key>ҽ</key><string>e</string>
    <key>E</key><string>e</string>
    <key>ᘿ</key><string>e</string>
    <key>e̶</key><string>e</string>
    <key>e̴</key><string>e</string>
    <key>e̷</key><string>e</string>
    <key>e̲</key><string>e</string>
    <key>e̳</key><string>e</string>
    <key>e̾</key><string>e</string>
    <key>e</key><string>e</string>
    <key>e͎</key><string>e</string>
    <key>e͓̽</key><string>e</string>
    <key>𝔣</key><string>f</string>
    <key>𝖋</key><string>f</string>
    <key>𝓯</key><string>f</string>
    <key>𝒻</key><string>f</string>
    <key>𝕗</key><string>f</string>
    <key>ｆ</key><string>f</string>
    <key>ᠻ</key><string>f</string>
    <key>ꜰ</key><string>f</string>
    <key>ɟ</key><string>f</string>
    <key>f⃣</key><string>f</string>
    <key>f⃞</key><string>f</string>
    <key>🄵</key><string>f</string>
    <key>Ꮈ</key><string>f</string>
    <key>f̵̨̻̫̞̭͍͕̹͖̆̾̃</key><string>f</string>
    <key>🅵</key><string>f</string>
    <key>f</key><string>f</string>
    <key>ᶠ</key><string>f</string>
    <key>ⓕ</key><string>f</string>
    <key>Ŧ</key><string>f</string>
    <key>ϝ</key><string>f</string>
    <key>ʄ</key><string>f</string>
    <key>Ꭶ</key><string>f</string>
    <key>ʄ</key><string>f</string>
    <key>f</key><string>f</string>
    <key>𝐟</key><string>f</string>
    <key>𝗳</key><string>f</string>
    <key>𝘧</key><string>f</string>
    <key>𝙛</key><string>f</string>
    <key>𝚏</key><string>f</string>
    <key>F</key><string>f</string>
    <key>ƒ</key><string>f</string>
    <key>£</key><string>f</string>
    <key>₣</key><string>f</string>
    <key>千</key><string>f</string>
    <key>ｷ</key><string>f</string>
    <key>【f】</key><string>f</string>
    <key>『f』</key><string>f</string>
    <key>≋f≋</key><string>f</string>
    <key>░f░</key><string>f</string>
    <key>[̲̅f]</key><string>f</string>
    <key>f҉</key><string>f</string>
    <key>ƒ</key><string>f</string>
    <key>ᖴ</key><string>f</string>
    <key>ᖴ</key><string>f</string>
    <key>f̶</key><string>f</string>
    <key>f̴</key><string>f</string>
    <key>f̷</key><string>f</string>
    <key>f̲</key><string>f</string>
    <key>f̳</key><string>f</string>
    <key>f̾</key><string>f</string>
    <key>f</key><string>f</string>
    <key>f͎</key><string>f</string>
    <key>f͓̽</key><string>f</string>
    <key>𝔤</key><string>g</string>
    <key>𝖌</key><string>g</string>
    <key>𝓰</key><string>g</string>
    <key>𝑔</key><string>g</string>
    <key>𝕘</key><string>g</string>
    <key>ｇ</key><string>g</string>
    <key>ᧁ</key><string>g</string>
    <key>ɢ</key><string>g</string>
    <key>ɓ</key><string>g</string>
    <key>g⃣</key><string>g</string>
    <key>g⃞</key><string>g</string>
    <key>🄶</key><string>g</string>
    <key>Ǥ</key><string>g</string>
    <key>ǫ</key><string>g</string>
    <key>g̴̡̢̲̲̓̊̅̌̏̄͋́̆͝</key><string>g</string>
    <key>🅶</key><string>g</string>
    <key>g</key><string>g</string>
    <key>ᵍ</key><string>g</string>
    <key>ⓖ</key><string>g</string>
    <key>ﻮ</key><string>g</string>
    <key>ɠ</key><string>g</string>
    <key>ɢ</key><string>g</string>
    <key>Ꮆ</key><string>g</string>
    <key>ɠ</key><string>g</string>
    <key>ງ</key><string>g</string>
    <key>𝐠</key><string>g</string>
    <key>𝗴</key><string>g</string>
    <key>𝘨</key><string>g</string>
    <key>𝙜</key><string>g</string>
    <key>𝚐</key><string>g</string>
    <key>G</key><string>g</string>
    <key>g</key><string>g</string>
    <key>g</key><string>g</string>
    <key>₲</key><string>g</string>
    <key>Ꮆ</key><string>g</string>
    <key>ム</key><string>g</string>
    <key>【g】</key><string>g</string>
    <key>『g』</key><string>g</string>
    <key>≋g≋</key><string>g</string>
    <key>░g░</key><string>g</string>
    <key>[̲̅g]</key><string>g</string>
    <key>g҉</key><string>g</string>
    <key>ց</key><string>g</string>
    <key>G</key><string>g</string>
    <key>ᘜ</key><string>g</string>
    <key>g̶</key><string>g</string>
    <key>g̴</key><string>g</string>
    <key>g̷</key><string>g</string>
    <key>g̲</key><string>g</string>
    <key>g̳</key><string>g</string>
    <key>g̾</key><string>g</string>
    <key>g</key><string>g</string>
    <key>g͎</key><string>g</string>
    <key>g͓̽</key><string>g</string>
    <key>𝔥</key><string>h</string>
    <key>𝖍</key><string>h</string>
    <key>𝓱</key><string>h</string>
    <key>𝒽</key><string>h</string>
    <key>𝕙</key><string>h</string>
    <key>ｈ</key><string>h</string>
    <key>ꫝ</key><string>h</string>
    <key>ʜ</key><string>h</string>
    <key>ɥ</key><string>h</string>
    <key>h⃣</key><string>h</string>
    <key>h⃞</key><string>h</string>
    <key>🄷</key><string>h</string>
    <key>ʜ</key><string>h</string>
    <key>h̴̢̗͈̥̺̹̦̰̱̏̍ͅ</key><string>h</string>
    <key>🅷</key><string>h</string>
    <key>ₕ</key><string>h</string>
    <key>ʰ</key><string>h</string>
    <key>ⓗ</key><string>h</string>
    <key>ђ</key><string>h</string>
    <key>ԋ</key><string>h</string>
    <key>ɦ</key><string>h</string>
    <key>Ꮒ</key><string>h</string>
    <key>ɧ</key><string>h</string>
    <key>h</key><string>h</string>
    <key>𝐡</key><string>h</string>
    <key>𝗵</key><string>h</string>
    <key>𝘩</key><string>h</string>
    <key>𝙝</key><string>h</string>
    <key>𝚑</key><string>h</string>
    <key>Ή</key><string>h</string>
    <key>н</key><string>h</string>
    <key>h</key><string>h</string>
    <key>Ⱨ</key><string>h</string>
    <key>卄</key><string>h</string>
    <key>ん</key><string>h</string>
    <key>【h】</key><string>h</string>
    <key>『h』</key><string>h</string>
    <key>≋h≋</key><string>h</string>
    <key>░h░</key><string>h</string>
    <key>[̲̅h]</key><string>h</string>
    <key>h҉</key><string>h</string>
    <key>հ</key><string>h</string>
    <key>ᕼ</key><string>h</string>
    <key>ᕼ</key><string>h</string>
    <key>h̶</key><string>h</string>
    <key>h̴</key><string>h</string>
    <key>h̷</key><string>h</string>
    <key>h̲</key><string>h</string>
    <key>h̳</key><string>h</string>
    <key>h̾</key><string>h</string>
    <key>h</key><string>h</string>
    <key>h͎</key><string>h</string>
    <key>h͓̽</key><string>h</string>
    <key>𝔦</key><string>i</string>
    <key>𝖎</key><string>i</string>
    <key>𝓲</key><string>i</string>
    <key>𝒾</key><string>i</string>
    <key>𝕚</key><string>i</string>
    <key>ｉ</key><string>i</string>
    <key>꠸</key><string>i</string>
    <key>ɪ</key><string>i</string>
    <key>ı</key><string>i</string>
    <key>i⃣</key><string>i</string>
    <key>i⃞</key><string>i</string>
    <key>🄸</key><string>i</string>
    <key>i</key><string>i</string>
    <key>i̵̭̺͍̋́͘</key><string>i</string>
    <key>🅸</key><string>i</string>
    <key>ᵢ</key><string>i</string>
    <key>ⁱ</key><string>i</string>
    <key>ꭵ</key><string>i</string>
    <key>ⓘ</key><string>i</string>
    <key>เ</key><string>i</string>
    <key>ι</key><string>i</string>
    <key>ɨ</key><string>i</string>
    <key>Ꭵ</key><string>i</string>
    <key>ı</key><string>i</string>
    <key>i</key><string>i</string>
    <key>𝐢</key><string>i</string>
    <key>𝗶</key><string>i</string>
    <key>𝘪</key><string>i</string>
    <key>𝙞</key><string>i</string>
    <key>𝚒</key><string>i</string>
    <key>I</key><string>i</string>
    <key>ι</key><string>i</string>
    <key>ï</key><string>i</string>
    <key>ł</key><string>i</string>
    <key>丨</key><string>i</string>
    <key>ﾉ</key><string>i</string>
    <key>【i】</key><string>i</string>
    <key>『i』</key><string>i</string>
    <key>≋i≋</key><string>i</string>
    <key>░i░</key><string>i</string>
    <key>[̲̅i]</key><string>i</string>
    <key>i҉</key><string>i</string>
    <key>ì</key><string>i</string>
    <key>I</key><string>i</string>
    <key>ᓰ</key><string>i</string>
    <key>i̶</key><string>i</string>
    <key>i̴</key><string>i</string>
    <key>i̷</key><string>i</string>
    <key>i̲</key><string>i</string>
    <key>i̳</key><string>i</string>
    <key>i̾</key><string>i</string>
    <key>i</key><string>i</string>
    <key>i͎</key><string>i</string>
    <key>i͓̽</key><string>i</string>
    <key>𝔧</key><string>i</string>
    <key>𝖏</key><string>i</string>
    <key>𝓳</key><string>j</string>
    <key>𝒿</key><string>j</string>
    <key>𝓙</key><string>j</string>
    <key>𝕛</key><string>j</string>
    <key>ｊ</key><string>j</string>
    <key>꠹</key><string>j</string>
    <key>ᴊ</key><string>j</string>
    <key>ɾ</key><string>j</string>
    <key>j⃣</key><string>j</string>
    <key>j⃞</key><string>j</string>
    <key>ᒎ</key><string>j</string>
    <key>🄹</key><string>j</string>
    <key>ꞁ</key><string>j</string>
    <key>j̴̠̀͋͊̌͝</key><string>j</string>
    <key>🅹</key><string>j</string>
    <key>ⱼ</key><string>j</string>
    <key>ʲ</key><string>j</string>
    <key>ⓙ</key><string>j</string>
    <key>ן</key><string>j</string>
    <key>ʝ</key><string>j</string>
    <key>ʝ</key><string>j</string>
    <key>Ꮰ</key><string>j</string>
    <key>ʝ</key><string>j</string>
    <key>ว</key><string>j</string>
    <key>𝐣</key><string>j</string>
    <key>𝗷</key><string>j</string>
    <key>𝘫</key><string>j</string>
    <key>𝙟</key><string>j</string>
    <key>𝚓</key><string>j</string>
    <key>J</key><string>j</string>
    <key>נ</key><string>j</string>
    <key>j</key><string>j</string>
    <key>J</key><string>j</string>
    <key>ﾌ</key><string>j</string>
    <key>ﾌ</key><string>j</string>
    <key>【j】</key><string>j</string>
    <key>『j』</key><string>j</string>
    <key>≋j≋</key><string>j</string>
    <key>░j░</key><string>j</string>
    <key>[̲̅j]</key><string>j</string>
    <key>j҉</key><string>j</string>
    <key>ʝ</key><string>j</string>
    <key>ᒍ</key><string>j</string>
    <key>ᒚ</key><string>j</string>
    <key>j̶</key><string>j</string>
    <key>j̴</key><string>j</string>
    <key>j̷</key><string>j</string>
    <key>j̲</key><string>j</string>
    <key>j̳</key><string>j</string>
    <key>j̾</key><string>j</string>
    <key>j</key><string>j</string>
    <key>j͎</key><string>j</string>
    <key>j͓̽</key><string>j</string>
    <key>𝔨</key><string>k</string>
    <key>𝖐</key><string>k</string>
    <key>𝓴</key><string>k</string>
    <key>𝓀</key><string>k</string>
    <key>𝕜</key><string>k</string>
    <key>ｋ</key><string>k</string>
    <key>ᛕ</key><string>k</string>
    <key>ᴋ</key><string>k</string>
    <key>ʞ</key><string>k</string>
    <key>k⃣</key><string>k</string>
    <key>k⃞</key><string>k</string>
    <key>🄺</key><string>k</string>
    <key>ʞ</key><string>k</string>
    <key>ǩ̸̡̜̯̰̯͓̈́̒͊̋̀̿̚̚͠</key><string>k</string>
    <key>🅺</key><string>k</string>
    <key>ₖ</key><string>k</string>
    <key>ᵏ</key><string>k</string>
    <key>ⓚ</key><string>k</string>
    <key>к</key><string>k</string>
    <key>ƙ</key><string>k</string>
    <key>ӄ</key><string>k</string>
    <key>Ꮶ</key><string>k</string>
    <key>ƙ</key><string>k</string>
    <key>k</key><string>k</string>
    <key>𝐤</key><string>k</string>
    <key>𝗸</key><string>k</string>
    <key>𝘬</key><string>k</string>
    <key>𝙠</key><string>k</string>
    <key>𝚔</key><string>k</string>
    <key>K</key><string>k</string>
    <key>к</key><string>k</string>
    <key>k</key><string>k</string>
    <key>₭</key><string>k</string>
    <key>Ҝ</key><string>k</string>
    <key>ズ</key><string>k</string>
    <key>【k】</key><string>k</string>
    <key>『k』</key><string>k</string>
    <key>≋k≋</key><string>k</string>
    <key>░k░</key><string>k</string>
    <key>[̲̅k]</key><string>k</string>
    <key>k҉</key><string>k</string>
    <key>ҟ</key><string>k</string>
    <key>K</key><string>k</string>
    <key>ᖽᐸ</key><string>k</string>
    <key>k̶</key><string>k</string>
    <key>k̴</key><string>k</string>
    <key>k̷</key><string>k</string>
    <key>k̲</key><string>k</string>
    <key>k̳</key><string>k</string>
    <key>k̾</key><string>k</string>
    <key>k</key><string>k</string>
    <key>k͎</key><string>k</string>
    <key>k͓̽</key><string>k</string>
    <key>𝔩</key><string>l</string>
    <key>𝖑</key><string>l</string>
    <key>𝓵</key><string>l</string>
    <key>𝓁</key><string>l</string>
    <key>𝕝</key><string>l</string>
    <key>ｌ</key><string>l</string>
    <key>ꪶ</key><string>l</string>
    <key>ʟ</key><string>l</string>
    <key>l</key><string>l</string>
    <key>l⃣</key><string>l</string>
    <key>l⃞</key><string>l</string>
    <key>🄻</key><string>l</string>
    <key>|</key><string>l</string>
    <key>l̷͙͌̾͊̋̚͝</key><string>l</string>
    <key>🅻</key><string>l</string>
    <key>ₗ</key><string>l</string>
    <key>ˡ</key><string>l</string>
    <key>ⓛ</key><string>l</string>
    <key>ɭ</key><string>l</string>
    <key>ʅ</key><string>l</string>
    <key>ʟ</key><string>l</string>
    <key>Ꮭ</key><string>l</string>
    <key>Ɩ</key><string>l</string>
    <key>l</key><string>l</string>
    <key>𝐥</key><string>l</string>
    <key>𝗹</key><string>l</string>
    <key>𝘭</key><string>l</string>
    <key>𝙡</key><string>l</string>
    <key>𝚕</key><string>l</string>
    <key>ᄂ</key><string>l</string>
    <key>ℓ</key><string>l</string>
    <key>l</key><string>l</string>
    <key>Ⱡ</key><string>l</string>
    <key>ㄥ</key><string>l</string>
    <key>ﾚ</key><string>l</string>
    <key>【l】</key><string>l</string>
    <key>『l』</key><string>l</string>
    <key>≋l≋</key><string>l</string>
    <key>░l░</key><string>l</string>
    <key>[̲̅l]</key><string>l</string>
    <key>l҉</key><string>l</string>
    <key>Ӏ</key><string>l</string>
    <key>ᒪ</key><string>l</string>
    <key>ᒪ</key><string>l</string>
    <key>l̶</key><string>l</string>
    <key>l̴</key><string>l</string>
    <key>l̷</key><string>l</string>
    <key>l̲</key><string>l</string>
    <key>l̳</key><string>l</string>
    <key>l̾</key><string>l</string>
    <key>l</key><string>l</string>
    <key>l͎</key><string>l</string>
    <key>l͓̽</key><string>l</string>
    <key>𝔪</key><string>m</string>
    <key>𝖒</key><string>m</string>
    <key>𝓶</key><string>m</string>
    <key>𝓂</key><string>m</string>
    <key>𝕞</key><string>m</string>
    <key>ｍ</key><string>m</string>
    <key>ꪑ</key><string>m</string>
    <key>ᴍ</key><string>m</string>
    <key>ɯ</key><string>m</string>
    <key>m⃣</key><string>m</string>
    <key>m⃞</key><string>m</string>
    <key>🄼</key><string>m</string>
    <key>m</key><string>m</string>
    <key>m̵̘̝̓̈́̎̒</key><string>m</string>
    <key>🅼</key><string>m</string>
    <key>ₘ</key><string>m</string>
    <key>ᵐ</key><string>m</string>
    <key>ⓜ</key><string>m</string>
    <key>๓</key><string>m</string>
    <key>ɱ</key><string>m</string>
    <key>ʍ</key><string>m</string>
    <key>Ꮇ</key><string>m</string>
    <key>ɱ</key><string>m</string>
    <key>๓</key><string>m</string>
    <key>𝐦</key><string>m</string>
    <key>𝗺</key><string>m</string>
    <key>𝘮</key><string>m</string>
    <key>𝙢</key><string>m</string>
    <key>𝚖</key><string>m</string>
    <key>M</key><string>m</string>
    <key>м</key><string>m</string>
    <key>m</key><string>m</string>
    <key>₥</key><string>m</string>
    <key>爪</key><string>m</string>
    <key>ﾶ</key><string>m</string>
    <key>【m】</key><string>m</string>
    <key>『m』</key><string>m</string>
    <key>≋m≋</key><string>m</string>
    <key>░m░</key><string>m</string>
    <key>[̲̅m]</key><string>m</string>
    <key>m҉</key><string>m</string>
    <key>ʍ</key><string>m</string>
    <key>ᗰ</key><string>m</string>
    <key>ᘻ</key><string>m</string>
    <key>m̶</key><string>m</string>
    <key>m̴</key><string>m</string>
    <key>m̷</key><string>m</string>
    <key>m̲</key><string>m</string>
    <key>m̳</key><string>m</string>
    <key>m̾</key><string>m</string>
    <key>m</key><string>m</string>
    <key>m͎</key><string>m</string>
    <key>m͓̽</key><string>m</string>
    <key>𝔫</key><string>n</string>
    <key>𝖓</key><string>n</string>
    <key>𝓷</key><string>n</string>
    <key>𝓃</key><string>n</string>
    <key>𝕟</key><string>n</string>
    <key>ｎ</key><string>n</string>
    <key>ꪀ</key><string>n</string>
    <key>ɴ</key><string>n</string>
    <key>n⃣</key><string>n</string>
    <key>n⃞</key><string>n</string>
    <key>🄽</key><string>n</string>
    <key>ᴎ</key><string>n</string>
    <key>ǹ̶͇̼͙͓̰͋́̃̌̿̈́̓͊̕</key><string>n</string>
    <key>🅽</key><string>n</string>
    <key>ₙ</key><string>n</string>
    <key>ⁿ</key><string>n</string>
    <key>ⓝ</key><string>n</string>
    <key>ภ</key><string>n</string>
    <key>ɳ</key><string>n</string>
    <key>ռ</key><string>n</string>
    <key>Ꮑ</key><string>n</string>
    <key>ŋ</key><string>n</string>
    <key>ຖ</key><string>n</string>
    <key>𝐧</key><string>n</string>
    <key>𝗻</key><string>n</string>
    <key>𝘯</key><string>n</string>
    <key>𝙣</key><string>n</string>
    <key>𝚗</key><string>n</string>
    <key>П</key><string>n</string>
    <key>η</key><string>n</string>
    <key>ñ</key><string>n</string>
    <key>₦</key><string>n</string>
    <key>几</key><string>n</string>
    <key>刀</key><string>n</string>
    <key>【n】</key><string>n</string>
    <key>『n』</key><string>n</string>
    <key>≋n≋</key><string>n</string>
    <key>░n░</key><string>n</string>
    <key>[̲̅n]</key><string>n</string>
    <key>n҉</key><string>n</string>
    <key>ղ</key><string>n</string>
    <key>ᑎ</key><string>n</string>
    <key>ᘉ</key><string>n</string>
    <key>n̶</key><string>n</string>
    <key>n̴</key><string>n</string>
    <key>n̷</key><string>n</string>
    <key>n̲</key><string>n</string>
    <key>n̳</key><string>n</string>
    <key>n̾</key><string>n</string>
    <key>n</key><string>n</string>
    <key>n͎</key><string>n</string>
    <key>n͓̽</key><string>n</string>
    <key>𝔬</key><string>o</string>
    <key>𝖔</key><string>o</string>
    <key>𝓸</key><string>o</string>
    <key>𝑜</key><string>o</string>
    <key>𝕠</key><string>o</string>
    <key>ｏ</key><string>o</string>
    <key>ꪮ</key><string>o</string>
    <key>ᴏ</key><string>o</string>
    <key>o</key><string>o</string>
    <key>o⃣</key><string>o</string>
    <key>o⃞</key><string>o</string>
    <key>🄾</key><string>o</string>
    <key>o</key><string>o</string>
    <key>o̷̢͕̠̞̤̿̅̾̊̕͝</key><string>o</string>
    <key>🅾</key><string>o</string>
    <key>ₒ</key><string>o</string>
    <key>ᵒ</key><string>o</string>
    <key>ⓞ</key><string>o</string>
    <key>๏</key><string>o</string>
    <key>σ</key><string>o</string>
    <key>օ</key><string>o</string>
    <key>Ꭷ</key><string>o</string>
    <key>ơ</key><string>o</string>
    <key>໐</key><string>o</string>
    <key>𝐨</key><string>o</string>
    <key>𝗼</key><string>o</string>
    <key>𝘰</key><string>o</string>
    <key>𝙤</key><string>o</string>
    <key>𝚘</key><string>o</string>
    <key>Ө</key><string>o</string>
    <key>σ</key><string>o</string>
    <key>ð</key><string>o</string>
    <key>Ø</key><string>o</string>
    <key>ㄖ</key><string>o</string>
    <key>の</key><string>o</string>
    <key>【o】</key><string>o</string>
    <key>『o』</key><string>o</string>
    <key>≋o≋</key><string>o</string>
    <key>░o░</key><string>o</string>
    <key>[̲̅o]</key><string>o</string>
    <key>o҉</key><string>o</string>
    <key>օ</key><string>o</string>
    <key>O</key><string>o</string>
    <key>ᓍ</key><string>o</string>
    <key>o̶</key><string>o</string>
    <key>o̴</key><string>o</string>
    <key>o̷</key><string>o</string>
    <key>ᗝ</key><string>o</string>
    <key>o̲</key><string>o</string>
    <key>o̳</key><string>o</string>
    <key>o̾</key><string>o</string>
    <key>o</key><string>o</string>
    <key>o͎</key><string>o</string>
    <key>o͓̽</key><string>o</string>
    <key>𝔭</key><string>p</string>
    <key>𝖕</key><string>p</string>
    <key>𝓹</key><string>p</string>
    <key>𝓅</key><string>p</string>
    <key>𝕡</key><string>p</string>
    <key>ｐ</key><string>p</string>
    <key>ρ</key><string>p</string>
    <key>ᴘ</key><string>p</string>
    <key>p⃣</key><string>p</string>
    <key>p⃞</key><string>p</string>
    <key>🄿</key><string>p</string>
    <key>q</key><string>p</string>
    <key>p̴̨̥͍̰̙̭̓͂̎͑̔̋͋̊͠</key><string>p</string>
    <key>🅿</key><string>p</string>
    <key>ₚ</key><string>p</string>
    <key>ᵖ</key><string>p</string>
    <key>ⓟ</key><string>p</string>
    <key>ק</key><string>p</string>
    <key>ρ</key><string>p</string>
    <key>ք</key><string>p</string>
    <key>Ꭾ</key><string>p</string>
    <key>℘</key><string>p</string>
    <key>p</key><string>p</string>
    <key>𝐩</key><string>p</string>
    <key>𝗽</key><string>p</string>
    <key>𝘱</key><string>p</string>
    <key>𝙥</key><string>p</string>
    <key>𝚙</key><string>p</string>
    <key>P</key><string>p</string>
    <key>ρ</key><string>p</string>
    <key>þ</key><string>p</string>
    <key>₱</key><string>p</string>
    <key>卩</key><string>p</string>
    <key>ｱ</key><string>p</string>
    <key>【p】</key><string>p</string>
    <key>『p』</key><string>p</string>
    <key>≋p≋</key><string>p</string>
    <key>░p░</key><string>p</string>
    <key>[̲̅p]</key><string>p</string>
    <key>p҉</key><string>p</string>
    <key>ք</key><string>p</string>
    <key>ᑭ</key><string>p</string>
    <key>ᕵ</key><string>p</string>
    <key>p̶</key><string>p</string>
    <key>p̴</key><string>p</string>
    <key>p̷</key><string>p</string>
    <key>p̲</key><string>p</string>
    <key>p̳</key><string>p</string>
    <key>p̾</key><string>p</string>
    <key>p</key><string>p</string>
    <key>p͎</key><string>p</string>
    <key>p͓̽</key><string>p</string>
    <key>𝔮</key><string>q</string>
    <key>𝖖</key><string>q</string>
    <key>𝓺</key><string>q</string>
    <key>𝓆</key><string>q</string>
    <key>𝕢</key><string>q</string>
    <key>ｑ</key><string>q</string>
    <key>ꪇ</key><string>q</string>
    <key>Q</key><string>q</string>
    <key>q⃣</key><string>q</string>
    <key>q⃞</key><string>q</string>
    <key>🅀</key><string>q</string>
    <key>p</key><string>q</string>
    <key>q̷̲̤̟̬̽̈́̈́̅ͅ</key><string>q</string>
    <key>🆀</key><string>q</string>
    <key>q</key><string>q</string>
    <key>q</key><string>q</string>
    <key>ⓠ</key><string>q</string>
    <key>ợ</key><string>q</string>
    <key>ϙ</key><string>q</string>
    <key>զ</key><string>q</string>
    <key>Ꭴ</key><string>q</string>
    <key>զ</key><string>q</string>
    <key>๑</key><string>q</string>
    <key>𝐪</key><string>q</string>
    <key>𝗾</key><string>q</string>
    <key>𝘲</key><string>q</string>
    <key>𝙦</key><string>q</string>
    <key>𝚚</key><string>q</string>
    <key>Q</key><string>q</string>
    <key>q</key><string>q</string>
    <key>q</key><string>q</string>
    <key>Q</key><string>q</string>
    <key>Ɋ</key><string>q</string>
    <key>ゐ</key><string>q</string>
    <key>【q】</key><string>q</string>
    <key>『q』</key><string>q</string>
    <key>≋q≋</key><string>q</string>
    <key>░q░</key><string>q</string>
    <key>[̲̅q]</key><string>q</string>
    <key>q҉</key><string>q</string>
    <key>զ</key><string>q</string>
    <key>ᑫ</key><string>q</string>
    <key>ᕴ</key><string>q</string>
    <key>q̶</key><string>q</string>
    <key>q̴</key><string>q</string>
    <key>q̷</key><string>q</string>
    <key>q̲</key><string>q</string>
    <key>q̳</key><string>q</string>
    <key>q̾</key><string>q</string>
    <key>q</key><string>q</string>
    <key>q͎</key><string>q</string>
    <key>q͓̽</key><string>q</string>
    <key>𝔯</key><string>r</string>
    <key>𝖗</key><string>r</string>
    <key>𝓻</key><string>r</string>
    <key>𝓇</key><string>r</string>
    <key>𝕣</key><string>r</string>
    <key>ｒ</key><string>r</string>
    <key>᥅</key><string>r</string>
    <key>ʀ</key><string>r</string>
    <key>ɹ</key><string>r</string>
    <key>r⃣</key><string>r</string>
    <key>r⃞</key><string>r</string>
    <key>🅁</key><string>r</string>
    <key>ɿ</key><string>r</string>
    <key>r̵̛̭̫̉̚</key><string>r</string>
    <key>🆁</key><string>r</string>
    <key>ᵣ</key><string>r</string>
    <key>ʳ</key><string>r</string>
    <key>ⓡ</key><string>r</string>
    <key>г</key><string>r</string>
    <key>ɾ</key><string>r</string>
    <key>ʀ</key><string>r</string>
    <key>Ꮢ</key><string>r</string>
    <key>ཞ</key><string>r</string>
    <key>r</key><string>r</string>
    <key>𝐫</key><string>r</string>
    <key>𝗿</key><string>r</string>
    <key>𝘳</key><string>r</string>
    <key>𝙧</key><string>r</string>
    <key>𝚛</key><string>r</string>
    <key>Я</key><string>r</string>
    <key>я</key><string>r</string>
    <key>r</key><string>r</string>
    <key>Ɽ</key><string>r</string>
    <key>尺</key><string>r</string>
    <key>尺</key><string>r</string>
    <key>【r】</key><string>r</string>
    <key>『r』</key><string>r</string>
    <key>≋r≋</key><string>r</string>
    <key>░r░</key><string>r</string>
    <key>[̲̅r]</key><string>r</string>
    <key>r҉</key><string>r</string>
    <key>ɾ</key><string>r</string>
    <key>ᖇ</key><string>r</string>
    <key>ᖇ</key><string>r</string>
    <key>r̶</key><string>r</string>
    <key>r̴</key><string>r</string>
    <key>r̷</key><string>r</string>
    <key>r̲</key><string>r</string>
    <key>r̳</key><string>r</string>
    <key>r̾</key><string>r</string>
    <key>r</key><string>r</string>
    <key>r͎</key><string>r</string>
    <key>r͓̽</key><string>r</string>
    <key>𝔰</key><string>s</string>
    <key>𝖘</key><string>s</string>
    <key>𝓼</key><string>s</string>
    <key>𝓈</key><string>s</string>
    <key>𝕤</key><string>s</string>
    <key>ｓ</key><string>s</string>
    <key>ᦓ</key><string>s</string>
    <key>ꜱ</key><string>s</string>
    <key>s</key><string>s</string>
    <key>s⃣</key><string>s</string>
    <key>s⃞</key><string>s</string>
    <key>🅂</key><string>s</string>
    <key>ꙅ</key><string>s</string>
    <key>s̷̢̤̝͖͚̗̃̓͛̊̂͆͠</key><string>s</string>
    <key>🆂</key><string>s</string>
    <key>ₛ</key><string>s</string>
    <key>ˢ</key><string>s</string>
    <key>ⓢ</key><string>s</string>
    <key>ร</key><string>s</string>
    <key>ʂ</key><string>s</string>
    <key>ֆ</key><string>s</string>
    <key>Ꮥ</key><string>s</string>
    <key>ʂ</key><string>s</string>
    <key>Ş</key><string>s</string>
    <key>𝐬</key><string>s</string>
    <key>𝘀</key><string>s</string>
    <key>𝘴</key><string>s</string>
    <key>𝙨</key><string>s</string>
    <key>𝚜</key><string>s</string>
    <key>Ƨ</key><string>s</string>
    <key>ѕ</key><string>s</string>
    <key>§</key><string>s</string>
    <key>₴</key><string>s</string>
    <key>丂</key><string>s</string>
    <key>丂</key><string>s</string>
    <key>【s】</key><string>s</string>
    <key>『s』</key><string>s</string>
    <key>≋s≋</key><string>s</string>
    <key>░s░</key><string>s</string>
    <key>[̲̅s]</key><string>s</string>
    <key>s҉</key><string>s</string>
    <key>ʂ</key><string>s</string>
    <key>ᔕ</key><string>s</string>
    <key>S</key><string>s</string>
    <key>s̶</key><string>s</string>
    <key>s̴</key><string>s</string>
    <key>s̷</key><string>s</string>
    <key>s̲</key><string>s</string>
    <key>s̳</key><string>s</string>
    <key>s̾</key><string>s</string>
    <key>s</key><string>s</string>
    <key>s͎</key><string>s</string>
    <key>s͓̽</key><string>s</string>
    <key>𝖙</key><string>t</string>
    <key>𝓽</key><string>t</string>
    <key>𝓉</key><string>t</string>
    <key>𝕥</key><string>t</string>
    <key>ｔ</key><string>t</string>
    <key>ꪻ</key><string>t</string>
    <key>ᴛ</key><string>t</string>
    <key>ʇ</key><string>t</string>
    <key>t⃣</key><string>t</string>
    <key>t⃞</key><string>t</string>
    <key>🅃</key><string>t</string>
    <key>ƚ</key><string>t</string>
    <key>ẗ̵̨͙̝̞͚͔͉͙͖͜</key><string>t</string>
    <key>🆃</key><string>t</string>
    <key>ₜ</key><string>t</string>
    <key>ᵗ</key><string>t</string>
    <key>ⓣ</key><string>t</string>
    <key>Շ</key><string>t</string>
    <key>ƚ</key><string>t</string>
    <key>ȶ</key><string>t</string>
    <key>Ꮦ</key><string>t</string>
    <key>ɬ</key><string>t</string>
    <key>t</key><string>t</string>
    <key>𝐭</key><string>t</string>
    <key>𝘁</key><string>t</string>
    <key>𝘵</key><string>t</string>
    <key>𝙩</key><string>t</string>
    <key>𝚝</key><string>t</string>
    <key>Ƭ</key><string>t</string>
    <key>т</key><string>t</string>
    <key>†</key><string>t</string>
    <key>₮</key><string>t</string>
    <key>ㄒ</key><string>t</string>
    <key>ｲ</key><string>t</string>
    <key>【t】</key><string>t</string>
    <key>『t』</key><string>t</string>
    <key>≋t≋</key><string>t</string>
    <key>░t░</key><string>t</string>
    <key>[̲̅t]</key><string>t</string>
    <key>t҉</key><string>t</string>
    <key>է</key><string>t</string>
    <key>T</key><string>t</string>
    <key>丅</key><string>t</string>
    <key>ᖶ</key><string>t</string>
    <key>t̶</key><string>t</string>
    <key>t̴</key><string>t</string>
    <key>t̷</key><string>t</string>
    <key>t̲</key><string>t</string>
    <key>t̳</key><string>t</string>
    <key>t̾</key><string>t</string>
    <key>t</key><string>t</string>
    <key>t͎</key><string>t</string>
    <key>t͓̽</key><string>t</string>
    <key>𝔲</key><string>u</string>
    <key>𝖚</key><string>u</string>
    <key>𝓾</key><string>u</string>
    <key>𝓊</key><string>u</string>
    <key>𝕦</key><string>u</string>
    <key>ｕ</key><string>u</string>
    <key>ꪊ</key><string>u</string>
    <key>ᴜ</key><string>u</string>
    <key>u⃣</key><string>u</string>
    <key>u⃞</key><string>u</string>
    <key>🅄</key><string>u</string>
    <key>u</key><string>u</string>
    <key>u̴̧̥͍̲̠͓̙̪͍̓͑͗̏̅̌͜</key><string>u</string>
    <key>🆄</key><string>u</string>
    <key>ᵤ</key><string>u</string>
    <key>ᵘ</key><string>u</string>
    <key>ⓤ</key><string>u</string>
    <key>ย</key><string>u</string>
    <key>υ</key><string>u</string>
    <key>ʊ</key><string>u</string>
    <key>Ꮼ</key><string>u</string>
    <key>ų</key><string>u</string>
    <key>น</key><string>u</string>
    <key>𝐮</key><string>u</string>
    <key>𝘂</key><string>u</string>
    <key>𝘶</key><string>u</string>
    <key>𝙪</key><string>u</string>
    <key>𝚞</key><string>u</string>
    <key>Ц</key><string>u</string>
    <key>υ</key><string>u</string>
    <key>µ</key><string>u</string>
    <key>Ʉ</key><string>u</string>
    <key>ㄩ</key><string>u</string>
    <key>ひ</key><string>u</string>
    <key>【u】</key><string>u</string>
    <key>『u』</key><string>u</string>
    <key>≋u≋</key><string>u</string>
    <key>░u░</key><string>u</string>
    <key>[̲̅u]</key><string>u</string>
    <key>u҉</key><string>u</string>
    <key>մ</key><string>u</string>
    <key>ᑌ</key><string>u</string>
    <key>ᑘ</key><string>u</string>
    <key>u̶</key><string>u</string>
    <key>u̴</key><string>u</string>
    <key>u̷</key><string>u</string>
    <key>u̲</key><string>u</string>
    <key>u̳</key><string>u</string>
    <key>u̾</key><string>u</string>
    <key>u͎</key><string>u</string>
    <key>u͓̽</key><string>u</string>
    <key>𝔳</key><string>u</string>
    <key>𝖛</key><string>u</string>
    <key>𝓿</key><string>u</string>
    <key>𝓋</key><string>u</string>
    <key>𝕧</key><string>v</string>
    <key>ｖ</key><string>v</string>
    <key>ꪜ</key><string>v</string>
    <key>ᴠ</key><string>v</string>
    <key>ʌ</key><string>v</string>
    <key>v⃣</key><string>v</string>
    <key>v⃞</key><string>v</string>
    <key>🅅</key><string>v</string>
    <key>v</key><string>v</string>
    <key>v̵̮̘̼̾͗̊̿̆̕͝͝</key><string>v</string>
    <key>🆅</key><string>v</string>
    <key>ᵥ</key><string>v</string>
    <key>ᵛ</key><string>v</string>
    <key>ⓥ</key><string>v</string>
    <key>ש</key><string>v</string>
    <key>ʋ</key><string>v</string>
    <key>ʋ</key><string>v</string>
    <key>Ꮙ</key><string>v</string>
    <key>۷</key><string>v</string>
    <key>ง</key><string>v</string>
    <key>𝐯</key><string>v</string>
    <key>𝘃</key><string>v</string>
    <key>𝘷</key><string>v</string>
    <key>𝙫</key><string>v</string>
    <key>𝚟</key><string>v</string>
    <key>V</key><string>v</string>
    <key>ν</key><string>v</string>
    <key>v</key><string>v</string>
    <key>V</key><string>v</string>
    <key>ᐯ</key><string>v</string>
    <key>√</key><string>v</string>
    <key>【v】</key><string>v</string>
    <key>『v』</key><string>v</string>
    <key>≋v≋</key><string>v</string>
    <key>░v░</key><string>v</string>
    <key>[̲̅v]</key><string>v</string>
    <key>v҉</key><string>v</string>
    <key>ѵ</key><string>v</string>
    <key>ᐯ</key><string>v</string>
    <key>ᐺ</key><string>v</string>
    <key>v̶</key><string>v</string>
    <key>v̴</key><string>v</string>
    <key>v̷</key><string>v</string>
    <key>v̲</key><string>v</string>
    <key>v̳</key><string>v</string>
    <key>v̾</key><string>v</string>
    <key>v</key><string>v</string>
    <key>v͎</key><string>v</string>
    <key>v͓̽</key><string>v</string>
    <key>𝔴</key><string>w</string>
    <key>𝖜</key><string>w</string>
    <key>𝔀</key><string>w</string>
    <key>𝓌</key><string>w</string>
    <key>𝕨</key><string>w</string>
    <key>ｗ</key><string>w</string>
    <key>᭙</key><string>w</string>
    <key>ᴡ</key><string>w</string>
    <key>ʍ</key><string>w</string>
    <key>w⃣</key><string>w</string>
    <key>w⃞</key><string>w</string>
    <key>🅆</key><string>w</string>
    <key>w</key><string>w</string>
    <key>w̶̘̉̀̒̅̀̕͠</key><string>w</string>
    <key>🆆</key><string>w</string>
    <key>w</key><string>w</string>
    <key>ʷ</key><string>w</string>
    <key>ⓦ</key><string>w</string>
    <key>ฬ</key><string>w</string>
    <key>ɯ</key><string>w</string>
    <key>ա</key><string>w</string>
    <key>Ꮗ</key><string>w</string>
    <key>ῳ</key><string>w</string>
    <key>ຟ</key><string>w</string>
    <key>𝐰</key><string>w</string>
    <key>𝘄</key><string>w</string>
    <key>𝘸</key><string>w</string>
    <key>𝙬</key><string>w</string>
    <key>𝚠</key><string>w</string>
    <key>Щ</key><string>w</string>
    <key>ω</key><string>w</string>
    <key>w</key><string>w</string>
    <key>₩</key><string>w</string>
    <key>山</key><string>w</string>
    <key>W</key><string>w</string>
    <key>【w】</key><string>w</string>
    <key>『w』</key><string>w</string>
    <key>[̲̅w]</key><string>w</string>
    <key>w҉</key><string>w</string>
    <key>ա</key><string>w</string>
    <key>ᗯ</key><string>w</string>
    <key>ᘺ</key><string>w</string>
    <key>w̶</key><string>w</string>
    <key>w̴</key><string>w</string>
    <key>w̷</key><string>w</string>
    <key>w̲</key><string>w</string>
    <key>w̳</key><string>w</string>
    <key>w̾</key><string>w</string>
    <key>w</key><string>w</string>
    <key>w͎</key><string>w</string>
    <key>w͓̽</key><string>w</string>
    <key>𝔵</key><string>x</string>
    <key>𝖝</key><string>x</string>
    <key>𝔁</key><string>x</string>
    <key>𝓍</key><string>x</string>
    <key>𝕩</key><string>x</string>
    <key>ｘ</key><string>x</string>
    <key>᥊</key><string>x</string>
    <key>x</key><string>x</string>
    <key>x</key><string>x</string>
    <key>x⃣</key><string>x</string>
    <key>x⃞</key><string>x</string>
    <key>🅇</key><string>x</string>
    <key>x</key><string>x</string>
    <key>x̷̰̳̦̞͍͒̉̿̈̎̈̿̈́̚</key><string>x</string>
    <key>🆇</key><string>x</string>
    <key>ₓ</key><string>x</string>
    <key>ˣ</key><string>x</string>
    <key>ⓧ</key><string>x</string>
    <key>א</key><string>x</string>
    <key>x</key><string>x</string>
    <key>Ӽ</key><string>x</string>
    <key>ጀ</key><string>x</string>
    <key>ҳ</key><string>x</string>
    <key>x</key><string>x</string>
    <key>𝐱</key><string>x</string>
    <key>𝘅</key><string>x</string>
    <key>𝘹</key><string>x</string>
    <key>𝙭</key><string>x</string>
    <key>𝚡</key><string>x</string>
    <key>X</key><string>x</string>
    <key>χ</key><string>x</string>
    <key>x</key><string>x</string>
    <key>Ӿ</key><string>x</string>
    <key>乂</key><string>x</string>
    <key>ﾒ</key><string>x</string>
    <key>【x】</key><string>x</string>
    <key>『x』</key><string>x</string>
    <key>≋x≋</key><string>x</string>
    <key>░x░</key><string>x</string>
    <key>[̲̅x]</key><string>x</string>
    <key>x҉</key><string>x</string>
    <key>×</key><string>x</string>
    <key>᙭</key><string>x</string>
    <key>᙭</key><string>x</string>
    <key>x̶</key><string>x</string>
    <key>x̴</key><string>x</string>
    <key>x̷</key><string>x</string>
    <key>x̲</key><string>x</string>
    <key>x̳</key><string>x</string>
    <key>x̾</key><string>x</string>
    <key>x</key><string>x</string>
    <key>x͎</key><string>x</string>
    <key>x͓̽</key><string>x</string>
    <key>𝔶</key><string>y</string>
    <key>𝖞</key><string>y</string>
    <key>𝔂</key><string>y</string>
    <key>𝓎</key><string>y</string>
    <key>𝕪</key><string>y</string>
    <key>ｙ</key><string>y</string>
    <key>ꪗ</key><string>y</string>
    <key>ʏ</key><string>y</string>
    <key>ʎ</key><string>y</string>
    <key>y⃣</key><string>y</string>
    <key>y⃞</key><string>y</string>
    <key>🅈</key><string>y</string>
    <key>ʏ</key><string>y</string>
    <key>y̸̨͓̥͖̆̓̆̅̈́̂̒̍̚͜</key><string>y</string>
    <key>🆈</key><string>y</string>
    <key>y</key><string>y</string>
    <key>ʸ</key><string>y</string>
    <key>ⓨ</key><string>y</string>
    <key>ץ</key><string>y</string>
    <key>ყ</key><string>y</string>
    <key>ʏ</key><string>y</string>
    <key>Ꭹ</key><string>y</string>
    <key>ყ</key><string>y</string>
    <key>ฯ</key><string>y</string>
    <key>𝐲</key><string>y</string>
    <key>𝘆</key><string>y</string>
    <key>𝘺</key><string>y</string>
    <key>𝙮</key><string>y</string>
    <key>𝚢</key><string>y</string>
    <key>Y</key><string>y</string>
    <key>у</key><string>y</string>
    <key>¥</key><string>y</string>
    <key>Ɏ</key><string>y</string>
    <key>ㄚ</key><string>y</string>
    <key>ﾘ</key><string>y</string>
    <key>【y】</key><string>y</string>
    <key>『y』</key><string>y</string>
    <key>≋y≋</key><string>y</string>
    <key>░y░</key><string>y</string>
    <key>[̲̅y]</key><string>y</string>
    <key>y҉</key><string>y</string>
    <key>վ</key><string>y</string>
    <key>Y</key><string>y</string>
    <key>ᖻ</key><string>y</string>
    <key>Ƴ</key><string>y</string>
    <key>y̶</key><string>y</string>
    <key>y̴</key><string>y</string>
    <key>y̷</key><string>y</string>
    <key>y̲</key><string>y</string>
    <key>y̳</key><string>y</string>
    <key>y̾</key><string>y</string>
    <key>y</key><string>y</string>
    <key>y͎</key><string>y</string>
    <key>y͓̽</key><string>y</string>
    <key>𝔷</key><string>z</string>
    <key>𝖟</key><string>z</string>
    <key>𝔃</key><string>z</string>
    <key>𝓏</key><string>z</string>
    <key>𝕫</key><string>z</string>
    <key>ｚ</key><string>z</string>
    <key>ƺ</key><string>z</string>
    <key>ᴢ</key><string>z</string>
    <key>z</key><string>z</string>
    <key>z⃣</key><string>z</string>
    <key>z⃞</key><string>z</string>
    <key>🅉</key><string>z</string>
    <key>ƹ</key><string>z</string>
    <key>z̷̡̛̗̟̣͍͂̈́̓̌͘̚̚</key><string>z</string>
    <key>🆉</key><string>z</string>
    <key>z</key><string>z</string>
    <key>ᶻ</key><string>z</string>
    <key>ⓩ</key><string>z</string>
    <key>չ</key><string>z</string>
    <key>ȥ</key><string>z</string>
    <key>ʐ</key><string>z</string>
    <key>ፚ</key><string>z</string>
    <key>ʑ</key><string>z</string>
    <key>ຊ</key><string>z</string>
    <key>𝐳</key><string>z</string>
    <key>𝘇</key><string>z</string>
    <key>𝘻</key><string>z</string>
    <key>𝙯</key><string>z</string>
    <key>𝚣</key><string>z</string>
    <key>Z</key><string>z</string>
    <key>z</key><string>z</string>
    <key>z</key><string>z</string>
    <key>Ⱬ</key><string>z</string>
    <key>乙</key><string>z</string>
    <key>乙</key><string>z</string>
    <key>【z】</key><string>z</string>
    <key>『z』</key><string>z</string>
    <key>≋z≋</key><string>z</string>
    <key>░z░</key><string>z</string>
    <key>[̲̅z]</key><string>z</string>
    <key>z҉</key><string>z</string>
    <key>Հ</key><string>z</string>
    <key>ᘔ</key><string>z</string>
    <key>ᗱ</key><string>z</string>
    <key>z̶</key><string>z</string>
    <key>z̴</key><string>z</string>
    <key>z̷</key><string>z</string>
    <key>z̲</key><string>z</string>
    <key>z̳</key><string>z</string>
    <key>z̾</key><string>z</string>
    <key>z</key><string>z</string>
    <key>z͎</key><string>z</string>
    <key>z͓̽</key><string>z</string>
</dict>
</plist>